.apply-form textarea {
    width: 400px;
    height: 75px;
}

.apply-form .ftextarea {
    clear: left;
    margin-left: 20px !important;
    width: 100%;
}

.apply-form .fitem_ftextarea .fitemtitle {
    width: 100% !important;
}

.apply-form .fitemtitle {
    text-align: left !important;
}

.message-form textarea, .help-form textarea {
    width: 60%;
}

.message-form .form-item, .message-form .felement, .message-form .form-title {
    margin-bottom: 0 !important;
}

.section-text {
    margin-bottom: 10px;
    font-weight: bold;
}

.application-display {
    padding-left: 20px;
}

.application-question {
    font-weight: bold;
}

.application-answer {
    font-style: italic;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    width: 400px;
}

#fgroup_id_search-categories span {
    margin-right: 20px;
    width: 16em;
}

#fgroup_id_search-categories fieldset {
    max-width: 500px;
}

.mentor-display {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #D3D3D3;
    min-width: 400px;
    max-width: 700px;
    display: inline-block;
}

.mentor-display-search {
    width: 400px;
}

.mentor-display-image {
    height: 70px;
    display: inline-block;
    vertical-align: top;
}

.mentor-display-image img {
    vertical-align: text-bottom
}

.mentor-display-profile {
    margin-left: 10px;
    display: inline-block;
    text-align: top;
    width: 300px;
}

.mentor-display-name {
    font-weight: bold;
    font-size: 1.2em;
}

.mentor-display-city {
    font-style: italic;
}

.mentor-display-gray {
    color: gray;
}

.mentor-display-inset {
    padding-left: 20px;
}

.search-table td {
    width: 10em;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
 
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
